# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
echo "logs/application-debug-warn.log" >> .gitignore
echo "logs/application.log" >> .gitignore